<ul class="list-inline text-center">
  <% ["seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "img-circle avatar-xtremlarge" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>

<h3 class="padded text-center" >
  <a href="mailto:contact@airbnb.com" >
    <i class="fa fa-envelope"></i> contact@airbnb.com
  </a>
</h3>
